extends ../../layouts/default.pug 
include ../../mixins/box-head.pug 
include ../../mixins/alert.pug 
block main 
    div(class="container my-3")
        div(class="row")
            div(class="col-12")
                +box-head("Order successfully!!")
        div(class="row")
            div(class="col-12")
                div(class="alert alert-success") Congratulation!!
        if(order)
            div(class="row")
                div(class="col-12")
                    h4(class="mb-2")  Customer's information
                    table(class="table table-bordered")
                        tbody 
                            tr 
                                td Full Name: 
                                td 
                                    b #{order.userInfo.fullName}    
                            tr 
                                td Phone Number: 
                                td 
                                    b  #{order.userInfo.phone}
                            tr 
                                td Address: 
                                td 
                                    b #{order.userInfo.address}
            div(class="row")
                div(class="col-12")
                    h4(class="mb-2") Order's Information 
                    table(class='table table-bordered')
                        thead 
                            tr 
                                th Number 
                                th Picture 
                                th  Name 
                                th Price 
                                th Quantity 
                                th Total Price 
                        tbody 
                            if(order.products.length>0)
                                each items, index in order.products 
                                    tr 
                                        td #{index+1} 
                                        td 
                                            img(src=items.productInfo.thumbnail, width="80px")
                                        td #{items.productInfo.title}
                                        td $#{items.productInfo.priceNew}
                                        td #{items.quantity}
                                        td #{items.totalPrice}
            h3(class="text-right") Total amount of money : <span class="text-success"> #{order.totalPrice}$ </span>
                        


