include ../mixins/sub-menu.pug

header.header
  .container
    .inner-wrap
      .inner-logo
        a(href="/")
          img(src=settingsGeneral.logo alt="Logo")
      if(user)
        form(
          action="/search"
          method="GET"
        )
          div(class="form-group d-flex mb-0")
            input(type="text", placeholder="Type your word...", class="form-control", name="keyword", value=keyword)
            button(type="submit", class="form-control btn btn-primary btn-sm ml-4") Search
   
      .inner-menu
        ul
          li
            a(href="/") Home Page
          li.has-submenu
            a(href="/products") Products
            if(categories)
               +sub-menu(categories, "/products")
          li 
            a(href="/cart") Cart (#{miniCart ? miniCart.total:"0"  })
          if(user)
            li 
              a(href="/user/info") #{user.fullName.split(" ").slice(-1)}
          if !user
            li 
              a(href="/user/login") Login
            li 
              a(href="/user/register") Register 
          else 
            li 
              a(href="/user/logout") Logout 
          
               
        