extends ../../layouts/default.pug 

block main 
    div(class="product-detail-container container py-5")
  
        //- Breadcrumb gọn gàng
        div(class="row mb-4")
            div(class="col-12")
                nav(aria-label="breadcrumb")
                    ol(class="breadcrumb bg-transparent p-0 mb-0")
                        li(class="breadcrumb-item"): a(href="/") Home Page
                        li(class="breadcrumb-item"): a(href="/products") Products
                        li(class="breadcrumb-item active", aria-current="page") #{product.title}

        div(class="row") 
            //- Cột ảnh sản phẩm
            div(class="col-12 col-md-6 col-lg-5 mb-4 mb-md-0")
                div(class="product-image-wrapper shadow-sm")
                    img(src=product.thumbnail, alt=product.title, class="img-fluid", id="mainImg")

            //- Cột thông tin sản phẩm
            div(class="col-12 col-md-6 col-lg-7")
                div(class="product-info-content ps-lg-4") 
                    
                    //- Tiêu đề
                    h1(class="product-title") #{product.title}
                    if(product.category)
                        div(class="mb-3")
                            span Category: 
                            a(href=`/products/${product.category.slug}`) #{product.category.title}

                    //- Meta info (Tạo cảm giác chuyên nghiệp hơn)
                    div(class="product-meta mb-3 d-flex align-items-center")
                        span(class="border-start ps-3 text-muted") Status :
                            if product.stock > 0
                                strong(class="text-success") Active
                            else 
                                strong(class="text-danger") Out of stock

                    //- Khu vực Giá
                    div(class="price-block d-flex align-items-center gap-3 mb-4")
                        //- Giá hiện tại
                        span(class="current-price") $#{Math.floor(parseFloat(product.price))}
                        
                        //- Giá cũ & Badge giảm giá
                        if product.discountPercentage > 0
                            - let oldPrice = (parseFloat(product.price) * 100) / (100 - parseFloat(product.discountPercentage))
                            div(class="old-price-wrap")
                                span(class="discount-badge") -#{product.discountPercentage}%
                                span(class="original-price") $#{Math.floor(oldPrice)}
                    
                    //- Mô tả ngắn
                    div(class="product-description")
                        p !{product.description}
                    
                    //- Form mua hàng
                    form(action=`/cart/add/${product.id}`, method="POST")
                        div(class="row g-3")
                            //- Input Số lượng
                            div(class="col-auto")
                                div(class="input-group quantity-wrapper")
                                    button(type="button", id="decrease") -
                                    input(type="text", class="form-control text-center p-0", name="quantity", value="1",id="qtyInput")
                                    button(type="button", id="increase") +
                            
                            //- Nút Add to cart
                            div(class="col")
                                button(type="submit", class="btn btn-primary btn-add-cart w-100 text-white") 
                                    i(class="fa-solid fa-cart-shopping") Add to cart 
        

            
    script(src="/js/script.js")