extends ../../layouts/default.pug 
include ../../mixins/box-head.pug 
block main 
    div(class="container my-3")
        div(class="row")
            div(class="col-12")
                +box-head("User's information")
        if(userInfo)
            h4(class="mb-4") Welcome #{userInfo.fullName}
            div(class="row")
                    div(class="col-4")
                        img(src=userInfo.avatar, alt=userInfo.fullName, width="100px", height="100%")
                    div(class="col-8")
                        p Full Name : <b> #{userInfo.fullName} </b>  
                        p Email: <b> #{userInfo.email} </b> 
                        p Phone : <b> #{userInfo.phone} </b> 
                        p Status : <b> #{userInfo.status} </b> 


