extends ../../layouts/default.pug 
include ../../mixins/alert.pug
block main 
    +errorAlert()
    div(class="container my-5")
        div(class="row justify-content-center")
            div(class="col-8")
                h1(class="text-center") Enter OTP
                form(action="/user/password/otp", method="POST")
                    div(class="form-group")
                        label(for="email") Email
                        input(  
                            type="email"
                            class="form-control"
                            id="email"
                            name="email"
                            readonly
                            value=email
                        )
                    div(class="form-group")
                        label(for="otp") OTP: 
                        input(
                            type="text"
                            class="form-control"
                            id="otp"
                            name="otp"
                            required
                        )
                    button(type="submit", class="btn btn-primary btn-block mb-4") Verify
                    