extends ../../layouts/default.pug 
include ../../mixins/alert.pug
block main 
    +errorAlert()
    div(class="container my-5")
        div(class="row justify-content-center")
            div(class="col-8")
                h1(class="text-center") Reset password 
                form(action="/user/password/reset", method="POST", id="formReset")
                    div(class="form-group")
                        label(for="password") New password
                        input(
                            type="text"
                            class="form-control"
                            id="password"
                            name="password"
                            required
                        )
                    div(class="form-group", id="check")
                        label(for="passwordCheck") Confirm password: 
                        input(
                            type="text"
                            class="form-control"
                            id="passwordCheck"
                            name="passwordCheck"
                            required
                        )
                    button(type="submit", class="btn btn-primary btn-block mb-4") Change
    
    script(src="/js/reset-password.js") 

                    